certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1731428301407/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1731643424073/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459266942/work
matplotlib==3.9.3
munkres==1.1.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1730588037451/work/dist/numpy-2.1.3-cp312-cp312-linux_x86_64.whl#sha256=1e120dee91af211b94f044893ab48bdd16fef819ebe6bad4ba71f6a6925bdb9e
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1729065636207/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1733222594562/work
PySide6==6.7.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1733620576299/work/dist/scipy-1.14.1-cp312-cp312-linux_x86_64.whl#sha256=9f4f022526479fbb94d804894f6982f9f760815592e76ebcaabadbf2a8a2bbf6
setuptools==75.6.0
shiboken6==6.7.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733216807016/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1732615905931/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1729704561929/work
wheel==0.45.1
